@media (max-width: 480px) {
  .grid-header {
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto auto;
    align-items: center;
    height: 36vh;
  }
  .link {
    color: black;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: center;
  }
  header {
    background-color: #a4bfef;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 50px;
    border: none;
    margin-bottom: 45px;
  }
  .navegacion {
    justify-content: center;
    padding-bottom: 60px;
    font-size: 14px;
  }
  .navegacion ul {
    list-style: none;
  }
  .menu {
    color: #DE3939;
  }
  .menu li {
    position: relative;
    display: inline-block;
    color: #DE3939;
  }
  .menu li a {
    display: block;
    padding: 15px 20px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .menu li a:hover {
    color: #CE7D35;
    transition: all 0.3s;
  }
  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu {
    position: absolute;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .grid-produc {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 35%;
    grid-template-rows: 45vh;
    justify-content: center;
    padding-top: 10vh;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10vh;
  }
  main {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    text-align: center;
    border: none;
  }
  .grid-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33% 33% 33%);
    grid-template-rows: 20vh;
    grid-template-areas: "footer";
  }
  footer {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: none;
    background-color: #92b4f0;
  }
  .listdos {
    color: black;
    font-size: 16px;
    list-style: none;
    align-items: center;
    font-size: 11px;
  }
  .imagenes {
    width: 190px;
    height: 210px;
    width: 100px;
    height: 130px;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .grid-header {
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto auto;
    align-items: center;
    height: 16vh;
  }
  .link {
    color: black;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-align: center;
  }
  header {
    background-color: #a4bfef;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 50px;
    border: none;
  }
  .navegacion {
    justify-content: center;
    padding-bottom: 50px;
    font-size: 16px;
  }
  .navegacion ul {
    list-style: none;
  }
  .menu {
    color: #DE3939;
  }
  .menu li {
    position: relative;
    display: inline-block;
    color: #DE3939;
  }
  .menu li a {
    display: block;
    padding: 15px 20px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .menu li a:hover {
    color: #CE7D35;
    transition: all 0.3s;
  }
  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu {
    position: absolute;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .grid-produc {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 35%;
    grid-template-rows: 45vh;
    justify-content: center;
    padding-top: 10vh;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10vh;
  }
  main {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-align: center;
    border: none;
  }
  .grid-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33% 33% 33%);
    grid-template-rows: 20vh;
    grid-template-areas: "footer";
  }
  footer {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: none;
    background-color: #92b4f0;
  }
  .listdos {
    color: black;
    font-size: 16px;
    list-style: none;
    align-items: center;
    font-size: 14px;
  }
  .imagenes {
    width: 190px;
    height: 210px;
    width: 150px;
    height: 180px;
  }
}
@media (min-width: 1024px) {
  .link {
    color: black;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    text-align: center;
  }
  .grid-header {
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto auto;
    align-items: center;
    height: 35vh;
    margin: 0px;
  }
  header {
    background-color: #a4bfef;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 50px;
    border: none;
  }
  .navegacion {
    align-items: flex-start;
    padding-bottom: 60px;
    font-size: 17px;
  }
  .navegacion ul {
    list-style: none;
  }
  .menu {
    color: #DE3939;
  }
  .menu li {
    position: relative;
    display: inline-block;
    color: #DE3939;
  }
  .menu li a {
    display: block;
    padding: 15px 20px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .menu li a:hover {
    color: #CE7D35;
    transition: all 0.3s;
  }
  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu {
    position: absolute;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  .grid-produc {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 35%;
    grid-template-rows: 45vh;
    justify-content: center;
    padding-top: 10vh;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10vh;
  }
  main {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 0px;
    padding-top: 5vh;
  }
  .grid-footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33% 33% 33%);
    grid-template-rows: 20vh;
    grid-template-areas: "footer";
  }
  footer {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: none;
    background-color: #92b4f0;
  }
  .listdos {
    color: black;
    font-size: 16px;
    list-style: none;
    align-items: center;
  }
  .imagenes {
    width: 190px;
    height: 210px;
  }
}

/*# sourceMappingURL=index.css.map */
