
@import "clases";

@mixin grid-header-m { 
    display: grid;
    width: 100%;
    height: 60vh;
    grid-template-columns: auto auto;
    align-items: center;
    
}

@mixin menu-m {
    color:#DE3939;
        li{
            position: relative;
            display: inline-block;
            color: #DE3939;
                a{
                    display: block;
                    padding: 15px 20px;
                    font-family:'Poppins', sans-serif ;
                    text-decoration: none;
                    &:hover{color:#CE7D35;
                    transition: all .3s;}
                }
            }
}

@mixin grid-footer-m {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 33% 33% 33%);
    grid-template-rows: 20vh;
    grid-template-areas: "footer";

}

@mixin footer-m {text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-bottom: 30px;
    padding-top: 30px;
    border: none;
}

@mixin header-m {background-color: #a4bfef;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-top: 20px;
    margin-bottom: 50px;
    border: none;}

@mixin grid-produc-m{display: grid;
    width: 100%;
    grid-template-columns:25% 35%;
    grid-template-rows:45vh;
    justify-content: center;
    padding-top: 10vh;
    justify-content: space-evenly;
    list-style: none;
    padding-bottom: 10vh}













@media (max-width:480px){.grid-header{
    @include grid-header-m();
    height: 75vh;
}

.link{@include link-m();
    font-size: 12px;
    text-align: center;    
}
 
header{@include header-m();
    margin-bottom: 45px;
}


.navegacion{
    justify-content: center;
    padding-bottom: 60px;
    font-size: 14px; 

        ul{
            list-style: none;
            }}
        
.menu{
   @include menu-m();
 }

 .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu{
        position: absolute;
        width: 120%;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s;
            li{
                a{display: block;
                    padding: 15px;
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }}

.grid-produc{
@include grid-produc-m();   
}
main{
font-family:'Poppins', sans-serif;
font-size: 12px;
text-align: center;
border: none   
}

.grid-footer{
    @include grid-footer-m();
}
footer{@include footer-m();
    background-color:#92b4f0;
}

.listdos{
    @include listdos-m();
    font-size: 11px;
}

}











@media (min-width:481px) and (max-width:1023px){.grid-header{
    @include grid-header-m();
    height: 70vh
}

.link{@include link-m();
    font-size: 14px;
    text-align: center;    
}
 
header{
 @include header-m();}

.navegacion{
    justify-content: center;
    padding-bottom: 50px;
    font-size: 16px; 
     
        ul{
            list-style: none;
            }}
        
.menu{
   @include menu-m();
 }

 .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.submenu{
        position: absolute;
        width: 120%;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s;
            li{
                a{display: block;
                    padding: 15px;
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }}

.grid-produc{
        @include grid-produc-m();  
          
}
main{
font-family:'Poppins', sans-serif;
font-size: 14px;
text-align: center;
border: none   
}

.grid-footer{
    @include grid-footer-m();
}
footer{@include footer-m();
    background-color:#92b4f0
}

.listdos{
    @include listdos-m();
    font-size: 14px;
}

}












@media (min-width:1024px){

.link{@include link-m();
    font-size: 17px;
    text-align: center;    
}
.grid-header{
    @include grid-header-m();
    height: 70vh;
}
 
header{
   @include header-m();
    padding-right: 0px;
}

.navegacion{
    justify-content: center;
    padding-bottom: 60px;
    font-size: 18px; 
    
        ul{
            list-style: none;
            }}
        
.menu{
   @include menu-m();
 }

 .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}


.submenu{
        position: absolute;
        width: 120%;
        visibility: hidden;
        opacity: 0;
        transition: opacity .5s;
            li{
                a{display: block;
                    padding: 15px;
                    color: #fff;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }}

.grid-produc{
@include grid-produc-m();  
}


main{
font-family:'Poppins', sans-serif;
font-size: 17px;
text-align: center;
border: none   
}

.grid-footer{
    @include grid-footer-m();
}
footer{@include footer-m();
    background-color:#92b4f0;

}

.listdos{
    @include listdos-m();
}

}